*{
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}
#main{
    margin: 30px 8px;
    padding: 15px;
    background-color: rgb(156, 153, 148);
    text-align: center;
    padding: 16px;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}

#title{
    border-bottom: 5px ridge;
}

#img-div{
    background-color: white;
}

img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

li{
    text-align: center;
    margin: 16px 0;
    list-style: square inside;
}

/* border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: black; */